<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <ul class="nav nav-tabs">
          <li><%= link_to "Blocipedia", root_path %></li>
          <li><%= link_to "Wikis", wikis_path %></li>


          <div class="pull-right">
            <%if user_signed_in?%>

                  <div class="pull-right">
                    <%= current_user.email %> <br/> <%= link_to "Sign Out", destroy_user_session_path(current_user), method: :delete %>
                  </div>

            <%else%>
              <%= link_to "Sign In", new_user_session_path %>
              <%= link_to "Sign Up", new_user_registration_path %>
            <%end%>
          </div>
        </ul>


        <!--  ADD NOTICE MESSAGES USING FLASH HASH FROM NEW VIEW.-->
            <% if flash[:notice] %>
               <div class="alert alert-success">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <%= flash[:notice] %>
               </div>
             <% elsif flash[:alert] %>
               <div class="alert alert-warning">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <%= flash[:alert] %>
               </div>
             <% end %>

    <%= yield %>
  </body>
</html>
